.vscode
.vscode/

.idea
.idea/

/node_modules
node_modules/

.DS_Store

.env
docker-compose.yaml
Dockerfile

public/post_picture/*.png
public/post_picture/*.jpg
public/post_picture/*.jpeg

public/profile_picture/*.png
public/profile_picture/*.jpg
public/profile_picture/*.jpeg