.vscode
.vscode/

.idea
.idea/

.env
/.env

node_modules
node_modules/

.DS_Store

public/post_picture/*.png
public/post_picture/*.jpg
public/post_picture/*.jpeg

public/profile_picture/*.png
public/profile_picture/*.jpg
public/profile_picture/*.jpeg

